project_final_images/

*.pth

# delete this later to upload final project:
images/
losses/
current_data.csv

/website/media/
/website/.env
/website/.env.local

/website/guide.html

/website/presentation.docx

/website/data/